{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>

        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/biddaloy_root.css' %}">
        
        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-edu-meeting.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.css' %}">
        <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}


  </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <!-- Sub Header -->
        <div class="sub-header">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>This is an educational <em>HTML CSS</em> template by TemplateMo website.</p>
                </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="index.html" class="logo">
                                Edu Meeting
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                                <li><a href="meetings.html">Meetings</a></li>
                                <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="meetings.html">Upcoming Meetings</a></li>
                                        <li><a href="meeting-details.html">Meeting Details</a></li>
                                    </ul>
                                </li>
                                <li class="scroll-to-section"><a href="#courses">Courses</a></li> 
                                <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
                            </ul>        
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->


        {% block content %}{% endblock %}



        <!-- Contact and footer section -->

        <section class="contact-us" id="contact">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 align-self-center">
                  <div class="row">
                    <div class="col-lg-12">
                      <form id="contact" action="" method="post">
                        <div class="row">
                          <div class="col-lg-12">
                            <h2>Let's get in touch</h2>
                          </div>
                          <div class="col-lg-4">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-4">
                            <fieldset>
                            <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                          </fieldset>
                          </div>
                          <div class="col-lg-4">
                            <fieldset>
                              <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="right-info">
                    <ul>
                      <li>
                        <h6>Phone Number</h6>
                        <span>010-020-0340</span>
                      </li>
                      <li>
                        <h6>Email Address</h6>
                        <span>info@meeting.edu</span>
                      </li>
                      <li>
                        <h6>Street Address</h6>
                        <span>Rio de Janeiro - RJ, 22795-008, Brazil</span>
                      </li>
                      <li>
                        <h6>Website URL</h6>
                        <span>www.meeting.edu</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
                  <br>
                  Design: <a href="https://exectcoder.com" target="_parent" title="free css templates">Exect Coder</a>
                  <br>
                  Distibuted By: <a href="https://exectcoder.com" target="_blank" title="Build Better UI, Faster">Exect Coder</a>
                </p>
            </div>
        </section>

        {# Global javascript #}
        <!-- <script type="text/javascript" src="{% static 'js/biddaloy_root.js' %}"></script> -->
            <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
            <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

            <script src="{% static 'js/isotope.min.js' %}"></script>
            <script src="{% static 'js/owl-carousel.js' %}"></script>
            <script src="{% static 'js/lightbox.js' %}"></script>
            <script src="{% static 'js/tabs.js' %}"></script>
            <script src="{% static 'js/video.js' %}"></script>
            <script src="{% static 'js/slick-slider.js' %}"></script>
            <script src="{% static 'js/custom.js' %}"></script>
            <script>
                //according to loftblog tut
                $('.nav li:first').addClass('active');

                var showSection = function showSection(section, isAnimate) {
                var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

                if (isAnimate) {
                    $('body, html').animate({
                    scrollTop: reqSectionPos },
                    800);
                } else {
                    $('body, html').scrollTop(reqSectionPos);
                }

                };

                var checkSection = function checkSection() {
                $('.section').each(function () {
                    var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                    if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                    siblings().removeClass('active');
                    }
                });
                };

                $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
                e.preventDefault();
                showSection($(this).attr('href'), true);
                });

                $(window).scroll(function () {
                checkSection();
                });
            </script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
